/venv/
/.idea/

/main.py
/P2/P2_multiagent.zip
/P3/reinforcement/test_cases/q5/1-tinygrid.test_output
/P3/reinforcement/test_cases/q5/2-tinygrid-noisy.test_output
/P3/reinforcement/test_cases/q5/3-bridge.test_output
/P3/reinforcement/test_cases/q5/4-discountgrid.test_output
/P3/P3_reinforcement.zip
